<div style="max-width: min(900px,90vw);justify-content: center;margin: auto;">
    <h1 style="font-size: xxx-large">My Personal Blog</h1>
    <nav style="display: flex; flex-wrap: wrap; column-gap: 30px; font-size: x-large;">
        <a href="/" style="white-space: nowrap;">Home</a>
        <a href="/posts" style="white-space: nowrap;">Posts and Guides</a>
        <a href="/data" style="white-space: nowrap;">Data from Olympiads</a>
        <a href="/achievements" style="white-space: nowrap;">Achievements</a>
    </nav>
    <hr style="margin-top: 3vh;border-color: white;">