body{
    background-color: #010B13;
    color: #f9f9f9;
    font-family: "JetBrains Mono", monospace;
}

* {
    scrollbar-color: #242124 transparent;
}
h1 {
    font-size: xxx-large;
}
h2 {
    font-size: xx-large;
}
p {
    font-size: large;
}
a{
    color: white;
}
a[target="_blank"]::after {
    content: "↗";
    text-decoration: none;
    display: inline-block;
    margin-left: 0.2em;
    font-size: 1.3em;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
}
hr{
    border-color: gray;
}
.post{
    text-align: justify;
}
.block{
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.warning{
    background-color: #342610;
    color: #f8e150;
}
.danger{
    background-color: #391413;
    color: #f4a6a4;
}
blockquote {
    background: #242124;
    border-left: 5px solid #f9f9f9;
    margin: 1em 0;
    padding: 1em;
    font-style: italic;
}
