<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    {{ if .Site.Params.favicon }}
        <link rel="canonical" href="/favicon.ico">
    {{ end }}

    <link rel="canonical" href="{{ .Site.BaseURL }}{{ .Permalink }}">
    <link rel="stylesheet" href="{{ (resources.Get "css/main.css" | resources.Minify).RelPermalink }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>
<body>
{{partialCached "navbar.html" .}}
    <h1>{{ .Title }}</h1>
    <article class="post">{{ .Content }}</article>
    <hr style="margin-top: 40px;">
    <p>  The resources on this page have been curated by me. All original content remains the property of the respective olympiad organizations.</p>
</div>
</body>
</html>
