<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    {{ if .Site.Params.favicon }}
        <link rel="canonical" href="/favicon.ico">
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">
    <script>
        function setGiscusTheme() {
            const theme = document.documentElement.classList.contains('dark-mode') ? 'dark' : 'light';
            const iframe = document.querySelector('iframe.giscus-frame');
            if (!iframe) return;

            iframe.contentWindow.postMessage({
                giscus: {
                    setConfig: {
                        theme: theme
                    }
                }
            }, 'https://giscus.app');
        }
        const script = document.createElement('script');
        script.src = 'https://giscus.app/client.js';
        script.setAttribute('data-repo', 'Unforgettablepl/PersonalWebsite');
        script.setAttribute('data-repo-id', 'R_kgDOOWGgKg');
        script.setAttribute('data-category', 'Comments for Blog');
        script.setAttribute('data-category-id', 'DIC_kwDOOWGgKs4CqOSh');
        script.setAttribute('data-mapping', 'title');
        script.setAttribute('data-strict', '1');
        script.setAttribute('data-reactions-enabled', '1');
        script.setAttribute('data-emit-metadata', '0');
        script.setAttribute('data-input-position', 'top');
        script.setAttribute('data-theme', 'light');
        script.setAttribute('data-lang', 'en');
        script.setAttribute('crossorigin', 'anonymous');
        script.async = true;
        if (localStorage.getItem('darkMode') === 'true') {
            document.documentElement.classList.add('dark-mode');
            script.setAttribute('data-theme', 'dark');
        }
    </script>
    <link rel="stylesheet" href="{{ (resources.Get "css/main.css" | resources.Minify).RelPermalink }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
{{partialCached "navbar.html" .}}
    <h1 style="font-size:2.3em;margin-bottom: 0;">{{ .Title }}</h1>
    <article class="post">{{ .Content }}</article>
    <div id="giscus-container"></div>
    {{ if or (eq .Section "posts") (eq .Section "data") }}
    <script>
        document.getElementById('giscus-container').appendChild(script);
    </script>
    {{ end }}
    <hr style="margin-top: 40px;">
    {{ if eq .Section "data"}}
        <p>The resources on this page have been curated by me. All original content remains the property of the respective olympiad organizations.</p>
    {{ else }}
        <p xmlns:cc="http://creativecommons.org/ns#">This work by <span property="cc:attributionName">Samik Goyal</span> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""></a></p>
    {{ end }}
</div>
</body>
</html>
