<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    {{ if .Site.Params.favicon }}
        <link rel="canonical" href="/favicon.ico">
    {{ end }}

    <link rel="canonical" href="{{ .Site.BaseURL }}{{ .Permalink }}">
    <link rel="stylesheet" href="{{ (resources.Get "css/main.css" | resources.Minify).RelPermalink }}">
</head>
<body>
{{partialCached "navbar.html" .}}
    <h1>{{ .Title }}</h1>
    <div class="post">{{ .Content }}</div>
</div>
</body>
</html>
