<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.Description }}">
  {{ if .Site.Params.favicon }}
  <link rel="canonical" href="/favicon.ico">
  {{ end }}
  <link rel="canonical" href="{{ .Site.BaseURL }}">
  <link rel="stylesheet" href="{{ (resources.Get "css/main.css" | resources.Minify).RelPermalink }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>
<body>
{{partialCached "navbar.html" .}}
  {{ .Content }}
</div>
</body>
</html>