<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.Description }}">
  {{ if .Site.Params.favicon }}
  <link rel="canonical" href="/favicon.ico">
  {{ end }}
  <link rel="canonical" href="{{ .Site.BaseURL }}">
  <link rel="stylesheet" href="{{ (resources.Get "css/main.css" | resources.Minify).RelPermalink }}">
</head>
<body>
<div style="max-width: min(900px,90vw);justify-content: center;margin: auto;">
  <h1 style="font-size: xxx-large">My Personal Blog</h1>
  <div style="display: flex;column-gap: 30px;font-size: x-large;">
    <a href="/">Home</a>
    <a href="/posts/guide">Guide to Indian OI</a>
    <a href="/achievements">Achievements</a>
  </div>
  <hr style="margin-top: 3vh;border-color: white;">
  <h2>About me</h2>
  <p>
    I am Samik Goyal, an IOI-2024 Silver medallist from India.
  </p>
  <h2>Contact me</h2>
  <p>
    You can reach out to me on <a href="mailto:samikgoyal@gmail.com" target="_blank">samikgoyal@gmail.com</a> or on <a href="https://www.linkedin.com/in/samik-goyal/" target="_blank">LinkedIn</a>.
  </p>
</div>
</body>
</html>